<div class="row">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="row">
          <div class="col-md-2 ">
            <div class="row mt-0">
              <i class="fa fa-optin-monster fa-4x ml-4"></i>
            </div>
          </div>
          <div class="text-secondary text-center col-md-10">
            <p class="text-center ">Click on opt in at any time if you would like us to start applying for bursaries for you.
              Remember that you need to complete your profile after opting in to complete this process.
              (By clicking on the opt-in button you agree to our <a routerLink="/terms_and_conditions">terms and conditions</a>) </p>
          </div>
        </div>

      </div>



      <div class="card-footer text-secondary">
        <button class="btn btn-primary" (click)="optIn()"> Opt-In </button>
      </div>
    </div>
  </div>
</div>
