<div class="row mb-12 " *ngIf = "!profile.userPersonality.fieldML || profile.userPersonality.fieldML == {}">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="row justify-content-between">
          <div class="col-xl-2">
            <i>  <img [src]="profile.pic"> </i>
          </div>
          <div class="col-xl-10">
            <div class="row">
              <h3 class = "card-title">Take your personality quiz</h3>
            </div>
            <div class="row text-secondary">
              <p>Our personality quiz is a short 15 questions. Taking this quiz will help us to recommend bursaries and fields of study for you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/introquiz" class="btn btn-outline-dark btn-sm" >Take quiz</button>
      </div>
    </div>
  </div>
</div>


<div class="row mb-12 " *ngIf = "profile.userPersonality.fieldML ">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="row justify-content-between">
          <div class="col-xl-2 col-md-2 col-sm-2 col-xs-2">
            <i>  <img [src]="profile.pic"> </i>
          </div>
          <div class="col-xl-10 col-sm-12 col-xs-12">
            <div class="row">
              <h3 class = "card-title">Personality statistics</h3>
            </div>
            <app-personality-card></app-personality-card>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/personality" class="btn btn-outline-dark btn-sm" >View more detail</button>
      </div>
    </div>
  </div>
</div>
