<h2>{{quiz.title}}</h2>
<div class="row">
  <div class="col-xl-4">
    <img [src]="pic" alt="Picture">
  </div>
  <div class="col-xl-8">
    <h3>{{quiz.subtitle}}</h3>
  </div>
</div>

<div class= "quest" *ngFor = "let ques of quiz.answers ; let i = index" >
  <app-question [realAns] = "quiz.answers[i]" [questionNum] = "i+1" [id] = "quiz.id" [ans] = "getChecked(i+1)"></app-question>
  <br><br>
</div>
