<h3>Law</h3>

<p>You may have been recommended a legal career due to your personal qualities of strong personal and ethical values, and the importance of the truth and justice. You may also demonstrate resilience in tough situations and the ability to stick things through till the end.</p>

<p>There may be a number of skills and attributes you might possess that would help you on your
way to a career in law. These skills include: </p>
<ul>
  <li>Academic - you will need top grades, or the ability to prove yourself in University. You’ll need to read a lot of lengthy legal papers and have an excellent grasp of spelling and grammar.</li>
  <li>Communication - you will be expected to respond to arguments and present factual papers. You may even need to present in court!</li>
  <li>People skills - law is a people-centric career, solicitors and barristers interact with a wide range of people who may be in various emotional states and even have their legal lives in your hands. You will need to be friendly, professional and assertive.</li>
</ul>


<p>The primary sectors of law careers include:</p>
<ul>
  <li>Commercial Law</li>
  <li>Private Law</li>
  <li>Public Law</li>
</ul>

<p>A career in law can be hugely rewarding - personally, ethically and financially - but it’s hard work!</p>
