<h3>Health Science</h3>

<p>Our algorithm has matched you with Health Science. This could mean that you display humanitarian values and recognise the importance of helping others. Health Science plays a vital role in responding to South African problems in the context of African and global health challenges through supporting training and research.</p>

<p>Health Sciences offer a variety of educational, training and academic career options within the context of health care and research - from clinical and public health to health and rehabilitation sciences.</p>

<p>Careers in Health Science include everything from Anaesthetists to Chiropractors to Paediatricians and Sports Scientists - even Veterinarians! You can find a comprehensive list of careers <a href="http://www.gostudy.mobi/careers/category/list.aspx?qid=11">here</a>.</p> 
