<h2>Frequently Asked Questions</h2>
<h4>Where is my data stored?</h4>
<p>Zelda ensures that your data is stored in a secure location, and all interactions with your data is encrypted. Your data will not be given to any third party without your consent.</p>
<h4>What happens to my information if I want to delete my Zelda account?</h4>
<p> If you request to delete your Zelda account, your data will be removed from our servers within 24 hours. Uninstalling the app is not the same as deleting your account. If you uninstall the app your data will remain on our servers. To abide by the PoPI Act, we will delete your data within 7 years.</p>
<h4>How soon will I be recommended opportunities that suit me?</h4>
<p>As soon as you complete the baseline quiz we will be able to create a profile for you. Our machine learning algorithm will be able to make this profile more accurate as you take more quizzes. The more you complete, the more directed your recommendations will be.</p>
<h4>How are you making recommendations for me?</h4>
<p>We have analysed professionals in the companies you are applying to, to get an idea of job satisfaction and career performance for particular personality types. Using machine learning, we can match your personality profile against those of professionals, to get an idea of what might suit you.</p>
<h4>At what stage of my academic journey is the Zelda App suitable for me?</h4>
<p>We want to meet you where you’re at. If you’re looking for bursaries, university applications, vocational training or graduate opportunities - we’ll only give you what’s relevant to you.</p>
<h4>How can I improve my profile?</h4>
<p>Completing your profile can be done on the profile page. This involves entering the fields that are required.</p>
<h4>What if i don’t agree with what Zelda recommends?</h4>
<p>That’s okay! Hit the little X in the corner of the recommendations to remove this field/application you don’t want from your suggestions, and we’ll tune the future recommendations. We won’t always get it right, but together we can help you find just what you’re looking for.</p>
<h4>Have a statement?</h4>
<p>Pop us a message in the chat or email us at connect@zelda.org.za </p>
