.top-navbar {
    background-color: #668582;
}

.dropdown-toggle::before {
    display: none;
}

.fa-bars {
	&:before {
    padding: 5px;
    border-radius: 3px 3px;
		background-color: #6C757D;
  //  box-shadow: 1px 2px 2px #111;
	}
}

.fa-comments {
  font-size: 24px;
  &:before {
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px 3px;
    //  box-shadow: 1px 2px 2px #111;
  }
}

li{
  float: right;
}

h1,h2,h4{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff!important
}


.fa-comments[data-count]:after{
  position:absolute;
  right:0%;
  top:2%;
  content: attr(data-count);
  font-size:30%;
  padding:.3em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
