<div [class]="profile.hClass">
  <div class="row-md-12 align-items-center">
    <div class="col-md-12 mx-0">
      <ul class="navbar nav">
        <li> <i *ngIf = "!profile.menu" class = "fa fa-bars fa-lg text-light mr-0"(click) = "clickToggle()"></i> </li>
        <li><h4>ZELDA LEARNING</h4></li>
        <li class="nav-item">
          <div id = "dropper" [class]="dropClass">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-lg text-light"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink = "/profile">View my profile</a>
              <a class="dropdown-item" routerLink = "/terms_and_conditions">Terms and Conditions</a>
              <a class="dropdown-item" routerLink = "/FAQs">FAQ's</a>
              <a class="dropdown-item" (click) = "logOut()">Logout</a>
            </div>
          </div>
          <span *ngIf="profile.messages" class="fa fa-comments text-light ml-3" data-count="new" [routerLink]= "'/messages'"></span>
          <span *ngIf="!profile.messages" class="fa fa-comments text-light ml-3 " [routerLink]= "'/messages'"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
