<div class="row">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="row">
          <div class="col-md-2 ">
            <div class="row md-12 mt-0">
              <div class="col-sm-12 col-xl-12 p-3" *ngIf = "profile.userState.progress">
                <chart type="pie" [data]="data" [options]="options"></chart>
              </div>
            </div>
          </div>
          <div class="text-secondary text-center col-md-10">
            <h2 *ngIf = "profile.userPersonal.firstName && !profile.userState.username" class =" text-center">{{profile.userPersonal.firstName}} {{profile.userPersonal.lastName}}</h2>
            <h2 *ngIf = "profile.userState.username" class =" text-center">{{profile.userState.username}}</h2>
            <h4>Profile completion: <span class="text-success">{{profile.userState.progress}}%</span></h4>
            <p *ngIf = "profile.userState.optIn && profile.userState.progress != 100" class="text-center ">Complete your profile so that we can submit bursary applications for you once you have clicked "Submit". All of the fields highlighted in red should be filled in</p>
            <p *ngIf = "profile.userState.optIn && profile.userState.progress == 100 && !profile.userState.submitted" class="text-center ">Submit your profile so that we can submit bursary applications for you. Click the "Submit" button</p>
            <p *ngIf = "profile.userState.optIn && profile.userState.progress == 100 && profile.userState.submitted" class="text-center ">We are looking for a bursary for you. If you would like to manually apply for bursaries yourself, click on the "Bursaries" link in the menu</p>
            <p *ngIf = "!profile.userState.optIn">Opt in to continue</p>
          </div>
        </div>

      </div>



      <div class="card-footer text-secondary">
        <button routerLink = "/profile" class="btn btn-outline-dark btn-sm"> <i class = "fa fa-user mr-3"></i>Update profile</button>
        <p *ngIf="profile.userState.optIn && profile.userState.progress != 100" class="text-right float-right text-warning">
          You can Submit this form to Zelda once you have reached 100% completion
        </p>
        <button class="btn btn-outline-dark btn-sm float-right" *ngIf = "profile.userState.optIn && profile.userState.progress == 100 && !profile.userState.submitted " (click)="submit()">Submit application to Zelda</button>
        <p *ngIf="profile.userState.optIn && profile.userState.submitted" class="float-right"><i class="fa fa-check green"></i>Submitted</p>
      </div>
    </div>
  </div>
</div>
