<div class="p-2">
  <a routerLink = "" (click)="back()" class = "btn btn-primary btn-sm ml-2 mb-2">Back</a>
</div>
<div class="card card-common mb-3">
  <div class="card-body">
    <i *ngIf = "!this.favourite" class = "fa fa-star float-right hand fa-2x" style = "color:grey " (click) = "favouriteEvent($event)"></i>
    <i *ngIf = "this.favourite" class = "fa fa-star float-right hand fa-2x" style = "color:yellow" (click) = "favouriteEvent($event)"></i>
    <div class="card-text" id = "intro">
      <div class="row">
        <div class="col-md-3">
          <img [src]="pic" alt="Picture">
        </div>
        <div class="col-md-9">
          <h2 class = "card-title">{{application.title}}</h2>
          <h3 class="card-title">{{application.companyName}}</h3>
          <div [innerHTML] = "application.subtitle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <h4 *ngIf = 'application.closingDate'>Closing date: {{application.closingDate.toDate() | date : "dd/MM/yyyy"}}</h4>
      </div>
      <div class="col">
        <a *ngIf="!application.sections" [href]="application.bursaryUrl" target="_blank" class="btn btn-primary btn-sm right">Apply</a>
        <a *ngIf="application.sections" [routerLink] ="'/applications/'+application.id+'/intro'" class="btn btn-primary btn-sm right">Apply</a>
      </div>
    </div>
  </div>
</div>

<div class="card card-common mb-3" *ngIf = "!application.sections">
  <div class="card-body">
    <div id = "link">
      <h4 class="card-title">Apply</h4>
      <a [href]="application.bursaryUrl" target="_blank">{{application.bursaryUrl}}</a>
    </div>
  </div>
</div>

<div class="card card-common mb-3">
  <div class="card-body">
    <div id = "appFields">
      <h4 class = "card-title">Applicable Fields</h4>
      <ul>
        <li *ngFor = "let field of application.applicableFields">{{field}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="card card-common mb-3">
  <div class="card-body">
    <div id = "support">
      <h4 class = "card-title">Support provided:</h4>
      <p [innerHTML] = "application.supportProvided"></p>
    </div>
  </div>
</div>

<div class="card card-common mb-3">
  <div class="card-body">
    <div id = "reqs">
      <h4 class = "card-title">Requirements</h4>
      <p [innerHTML] = "application.requirements"></p>
    </div>
  </div>
</div>

<div class="card card-common mb-3">
  <div class="card-body">
    <div id = "instructions">
      <h4 class = "card-title">Application Proccess</h4>
      <p [innerHTML] = "application.applicationProcess"></p>
    </div>
  </div>
</div>
