<form >
  <div class="row mt-4">
      <div class="form-row mx-2">
        <div class="col-2">
          <input type="text" name ="country" [(ngModel)]="phoneNumber.country"  class="form-control" placeholder="+27"    maxlength="3">
        </div>
        <div class="col">
          <input type="text" name = "number" [(ngModel)]="phoneNumber.line"     class="form-control" placeholder="078 555 0000" maxlength="12">
        </div>
      </div>
  </div>

  <div class="row" *ngIf = '!sent'>
    <div class="btn white col s10 m4 form-group">
      <button class="form-control " (click)="sendLoginCode()">
        <i class="fa fa-phone fa-md mr-1"></i>
        SMS Text Login Code
      </button>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <div id="recaptcha-container" class="cap" [hidden] ='sent' ></div>
    </div>
  </div>

  <div class="row" *ngIf = "sent">
    <div class="col-md-12">
      <div class="form-group">
        <input type="text" name="code" class = "form-control s10 m4" [(ngModel)]="verificationCode" placeholder="Enter verification code here">
      </div>
    </div>
  </div>

  <div class="row" *ngIf = "sent">
    <div class="btn  col s10 m4 form-group">
      <button class="form-control " (click)="verifyLoginCode()">
        Verify
      </button>
    </div>
  </div>


  <div class="row-12 op2" *ngIf = "error">
    <p class = " text-center">{{error}}</p>
  </div>

</form>
