<div class="card card-common">
  <div class="card-body">
    <div class="card-text">
      <div class="row mx-2 mb-3" *ngFor = "let name of formValuesNames">
        <label>{{formValues[name]}}</label>
        <input type="text" *ngIf = "name!='address'" [name]= 'name' class="form-control" [(ngModel)] = "formAnswers[name]" readonly>
        <textarea *ngIf = " name=='address'" rows="4" [name]= 'name' class="form-control" [(ngModel)] = "formAnswers[name]" readonly></textarea>
        <p class="text-warning" *ngIf = "!formAnswers[name] || formAnswers[name] == ''">This field is blank</p>
        <p class = "text-warning" *ngIf = "formAnswers[name] == 'Male'">This camp is only availible to female students</p>
      </div>
    </div>
  </div>
</div>
