<div class="card card-common card-body">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label>First name/s</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('firstName')" name="firstName" [(ngModel)]="profile.userPersonal.firstName" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('lastName')" name="lastName" [(ngModel)]="profile.userPersonal.lastName" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label>ID number</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('idNumber')" name="id" [(ngModel)]="profile.userPersonal.idNumber" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="form-group">
        <label>Scan or picture of ID</label>
        <div class="input-group">
          <input *ngIf="!idUploaded" type="file" class="form-control is-invalid" accept=".pdf,.jpg" name="idpdf" (change)="upID($event)"/>
          <input *ngIf="idUploaded" type="text" class="form-control form-inline is-valid" value="File uploaded" disabled/>
          <button *ngIf = "idUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click)="removeId()">Remove</button>
          <a *ngIf = "idUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click) = "goToLink(idDownloadUrl)">Download</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col form-group">
      <label>Address</label>
      <input type="text" class="form-control mb-1" [ngClass]="getProfileClass('line1')" placeholder="line 1"  [(ngModel)]="profile.line1">
      <input type="text" class="form-control mb-1" [ngClass]="getProfileClass('line2')" placeholder="line 2"  [(ngModel)]="profile.line2">
      <input type="text" class="form-control mb-1" [ngClass]="getProfileClass('city')" placeholder="city"  [(ngModel)]="profile.city">
      <input type="text" class="form-control mb-1" [ngClass]="getProfileClass('province')" placeholder="province"  [(ngModel)]="profile.province">
      <input type="text" class="form-control" [ngClass]="getProfileClass('zip')" placeholder="zip"  [(ngModel)]="profile.zip">
    </div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Gender</label>
        <select name="genderSelector" class="form-control" [ngClass]="getPersonalClass('gender')" [(ngModel)]="profile.userPersonal.gender">
          <option value="Prefer not to say">Prefer not to say</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Race</label>
        <select name="raceSelector" class="form-control" [ngClass]="getPersonalClass('race')" [(ngModel)]="profile.userPersonal.race">
          <option value="Prefer not to say">Prefer not to say</option>
          <option value="White">White</option>
          <option value="Black">Black</option>
          <option value="Coloured">Coloured</option>
          <option value="Asian">Asian</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Date of birth</label>
        <input type="date" name="dob" class="form-control" [ngClass]="getPersonalClass('dateOfBirth')" [(ngModel)]="profile.userPersonal.dateOfBirth" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Nationality</label>
        <input type="text" name="nationality" class="form-control" [ngClass]="getPersonalClass('nationality')" [(ngModel)]="profile.userPersonal.nationality" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Marital status</label>
        <select name="marriage" class="form-control" [ngClass]="getPersonalClass('maritalStatus')" [(ngModel)]="profile.userPersonal.maritalStatus" >
          <option value = "Single">Single</option>
          <option value = "Married">Married</option>
          <option value = "Divorced">Divorced</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Where do you come from?</label>
        <select name="originSelector" class="form-control" [ngClass]="getPersonalClass('homeOrigin')" [(ngModel)]="profile.userPersonal.homeOrigin">
          <option value="Country/Rural">Country/Rural</option>
          <option value="City/Urban Area">City/Urban Area</option>
          <option value="Town/Suburban Area">Town/Suburban Area</option>
        </select>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Place of birth</label>
        <input type="text" name="place of birth" class="form-control" [ngClass]="getPersonalClass('placeOfBirth')" [(ngModel)]="profile.userPersonal.placeOfBirth" />
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Contact number</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('contactNumber')" [(ngModel)]="profile.userPersonal.contactNumber">
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Alternative contact number</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('altContactNumber')" [(ngModel)]="profile.userPersonal.altContactNumber">
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Alternative contact relationship</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('altContactRelationship')" placeholder="eg. mother" [(ngModel)]="profile.userPersonal.altContactRelationship">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Home language</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('homeLanguage')" [(ngModel)]="profile.userPersonal.homeLanguage">
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Second language/s</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('otherLanguage')" [(ngModel)]="profile.userPersonal.otherLanguage">
      </div>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Email address where you want correspondence to be sent</label>
        <input type="text" class="form-control" [ngClass]="getPersonalClass('email')" [(ngModel)]="profile.userPersonal.email">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="mb-3 mt-2 text-center">Hobbies</label>
        <textarea class="form-control" [ngClass]="getPersonalClass('hobbies')" name="hobbies" placeholder="e.g. Surfing, Fishing, Reading" [(ngModel)]="profile.userPersonal.hobbies"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">Cultural and Social Activities</label>
        <textarea class="form-control" [ngClass]="getPersonalClass('culturalActivities')" name="hobbies" placeholder="e.g. Debating Society" [(ngModel)]="profile.userPersonal.culturalActivities"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">What do you want to be?</label>
        <textarea class="form-control" name="hobbies" [ngClass]="getPersonalClass('careerIntentions')" [(ngModel)]="profile.userPersonal.careerIntentions"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">What is your guardian's occupation? </label>
        <textarea class="form-control" [ngClass]="getPersonalClass('guardianOccupation')" name="gocc" [(ngModel)]="profile.userPersonal.guardianOccupation"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">Do you have any special awards or achievements?</label>
        <textarea class="form-control" [ngClass]="getPersonalClass('awards')" name="achievements"  [(ngModel)]="profile.userPersonal.awards"></textarea>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">Do you have a disability?</label>
        <textarea class="form-control" [ngClass]="getPersonalClass('disability')" name="disability" [(ngModel)]="profile.userPersonal.disability"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class=" mb-3 mt-2 well">Have you committed any crimes? yes/no, if yes please explain</label>
        <textarea class="form-control" [ngClass]="getPersonalClass('crimes')" name="crime" [(ngModel)]="profile.userPersonal.crimes"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Combined household yearly income</label>
        <select class="form-control" [ngClass]="getPersonalClass('combinedYearlyIncome')" [(ngModel)]="profile.userPersonal.combinedYearlyIncome">
          <option value="< R120 000">< R120 000</option>
          <option value="R120 000 < R300 000">R120 000 < R300 000</option>
          <option value="R300 000 < R3600 000">R300 000 < R600 000</option>
          <option value="> R600 000">> R600 000</option>
        </select>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>South African citizenship </label>
        <select class="form-control" [ngClass]="getPersonalClass('saCitizen')" [(ngModel)]="profile.userPersonal.saCitizen">
          <option value="Citizen">Citizen</option>
          <option value="Resident">Resident</option>
          <option value="Refugee">Refugee</option>
        </select>
      </div>
    </div>
  </div>

</div>
