<div class="row mb-12 buff">
  <div class="col-xl-12 p-3">
    <div class="card card-common">
      <div class="card-body">
        <h3 class = "card-title text-center">Favourite Bursaries</h3>
        <div class="row">
          <i class = "fa fa-star fa-3x text-warning float-left mr-3"></i>
          <div class="text-secondary text-center">
            <p class = "text-center">You have {{numFav}} favourite <span *ngIf = "numFav ==1">burasary</span><span *ngIf = "numFav!=1">bursaries</span></p>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/applications/" class="btn btn-outline-dark btn-sm"> <i class = "fa fa-eye  mr-3"></i>See Favourites</button>
      </div>
    </div>
  </div>
</div>
