  <div class="form mt-2">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Email:</label><input class = "form-control form-control-lg" type="text" name="username" [(ngModel)] = "user">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Password:</label><input class = "form-control form-control-lg" type="password" name="pass" [(ngModel)] = "password">
        </div>
      </div>
    </div>


    <div class="row-xs-12 mb-3 forgot text-center">
      <a name="forgot" routerLink="" class="text-center" (click) = "forgotPassword()">Forgot password?</a>
    </div>

    <div class="row">

      <div class="col">
        <div class="form-group">
          <button name="login" class="form-control" (click) = "logIn()" >Log in</button>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <button name="su" class="form-control" (click) = "signUp()">Sign up</button>
        </div>
      </div>
    </div>

    <div class="row-xs-12 op2" *ngIf = "error">
      <p class ="text-center">{{error}}</p>
    </div>
  </div>
