.image img{
  position: absolute;
  width: 100%;
  overflow: auto;
}

.forgot{
  background-color: rgba(200, 200, 200, 0.8);
}

.forgot a{
  color: #ff7810;
}

.op{
  background-color: rgba(230, 255, 255, 0.8);
}

.op2{
  background-color: rgba(255, 200, 200, 0.8);
}

img{
  max-width: 100%;
}

.red{
  color: red;
}

a{
  color: orange;
  text-decoration: underline;
}
