<div class="row mb-11">
  <div class="col-sm-11 col-xl-11 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="d-flex justify-content-between">
          <i class="fa fa-shopping-cart fa-3x text-warning"> <img [src] = "pic" /> </i>
          <div class="text-right text-secondary">
            <h4>{{item.title}}</h4>
            <p>{{cont}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/articles/{{item.id}}" class="btn btn-outline-dark btn-sm">See more</button>
      </div>
    </div>
  </div>
