<div class="row mb-12">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2">
            <img [src]="pic">
          </div>

          <div *ngIf = "bursary" class="col-xl-10">
            <div class="text-secondary">
              <h3>{{bursary.title}}</h3>
              <p>{{bursary.subtitle.substr(0,175)}} <span *ngIf = "bursary.subtitle && bursary.subtitle.length >175"> ...</span></p>
              <p class = "text-right">Application close date: <span >{{bursary.closingDate.toDate() | date: "dd/MM/yyyy"}}</span></p>
            </div>
          </div>
        </div>
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
      </div>
      <div *ngIf = "!submitted && bursary" class="card-footer text-secondary">
        <button routerLink = "/applications/{{bursary.id}}" class="btn btn-outline-dark btn-sm" >See Bursary</button>
        <span class="right">
          <a class="btn btn-outline-dark btn-sm" [routerLink] ="'/applications/'+bursary.id+'/apply/0'">Continue Application</a>
        </span>
      </div>
      <div *ngIf = "submitted" class="card-footer text-secondary">
        <p>Status : <span class = "green">In review</span></p>
        <div class="progress">
          <div [class]="'progress-bar ' + progclass" role = "progressbar" aria-valuenow ="33" aria-valuemin ="0" aria-valuemax ="99">            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
