<h3>Commerce</h3>

<p>Do you love numbers? Do you have an analytical and logical mindset? Well then a career in commerce might be right for you.</p>

<p>Commerce degree programmes prepare students for the constantly changing business and public management environments, and for participation in the global economy. The faculty continually reviews degree curricula and outcomes to ensure that they maintain relevance and accreditation with professional bodies. Pursuing graduation in BCom can help you put one step ahead towards Chartered Accountancy (CA), Company Secretaryship (CS) and Cost and Work Accountancy (ICWA).</p>

<p>If you choose commerce, you also have the opportunity to choose an out-of-the-box career option, like one in travel and hospitality, depending on the path and degree you choose. Career options for commerce students are vast and you will always have interesting profiles to work at if you play to your strengths. Click <a href="http://www.gyanunlimited.com/education/career-in-commerce-after-12th-job-opportunities-in-commerce/6384/">here</a> to see some career options in commerce.</p>
