<div class="row mb-12">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <i *ngIf = "!this.favourite" class = "fa fa-star float-right hand fa-2x" style = "color:grey " (click) = "favouriteEvent($event)"></i>
        <i *ngIf = "this.favourite" class = "fa fa-star float-right hand fa-2x" style = "color:yellow" (click) = "favouriteEvent($event)"></i>
        <div class="row">
          <div class="col-xl-2">
            <img [src]="pic">
          </div>

          <div class="col-xl-10">
            <div class="text-secondary">
              <h3>{{item.title}}</h3>
              <p>{{app.substr(0,175)}} <span *ngIf = "app&&app.length >175"> ...</span></p>
              <p class = "text-right">Application close date: <span >{{item.closingDate.toDate() | date: "dd/MM/yyyy"}}</span></p>
            </div>
          </div>
        </div>
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/applications/{{item.id}}" class="btn btn-outline-dark btn-sm" >See more</button>
        <span class="right">
          <a class="btn btn-outline-dark btn-sm" *ngIf="!item.sections" [href]="item.bursaryUrl" target="_blank">Apply</a>
          <a class="btn btn-outline-dark btn-sm" *ngIf="item.sections" [routerLink] ="'/applications/'+item.id+'/intro'">Apply</a>
        </span>
      </div>
    </div>
  </div>
</div>
