img{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.right{
  float: right;
}

.hand{
  cursor: pointer;
}

h3{
  margin-top : 0px;
}

.red{
  color: red;
}

a{
  text-decoration: none;
  color: black;
}
