<div class="row p-2">
  <div class="col">
    <a routerLink = "/universities" class = "btn btn-primary btn-sm ml-2 mb-2"> Back</a>
  </div>
</div>
<div class="card card-common mb-3">
  <div class="card-body">
    <div class="card-text row">
      <div class="col-md-3 ">
        <img [src]="pic" alt="Picture">
      </div>
      <div class="col-md-9">
        <h2 class="card-title">{{university.title}}</h2>
        <span [innerHTML]="university.text"></span>
      </div>

    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <h5 *ngIf='university.closingDate'>Closing date : {{university.closingDate.toDate() | date}}</h5>
      </div>
      <div class="col">
        <a [href]="university.link" target="_blank" class="btn btn-primary btn-sm ml-3 right">Visit {{university.title}} </a>
      </div>
    </div>
  </div>
</div>

<div class="card card-common mb-3">
  <div class="card-body">
    <div id="qualifications" *ngIf="university.qualifications">
      <div>
        <h3 class = "card-title">Faculties :</h3>
      </div>
      <ul>
        <li *ngFor="let qual of university.qualifications">{{qual}}</li>
      </ul>
    </div>
  </div>
</div>
