<div class="row" *ngIf="!profile.userState.schoolName || profile.userState.schoolName == ''">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="row">
          <div class="col-md-2 ">
            <div class="row mt-0">
              <i class="fa fa-info-circle fa-4x ml-5"></i>
            </div>
          </div>
          <div class="text-secondary text-center col-md-10">
            <h3 >Did you find out about Zelda from your school?</h3>
            <p>Enter the name of your school and win</p>
          </div>
        </div>

      </div>



      <div class="card-footer text-secondary">
        <div class="form-group input-group">
          <input type="text" name="school" class="form-control" placeholder="Type your school name here" [(ngModel)]="schoolName"/>
          <button class="btn btn-primary ml-2" (click) = "submit()">Submit</button>
          <button class="btn btn-primary ml-2" (click) = "close()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
