<div class="row mb-12 buff">
  <div class="col-xl-12 p-3">
    <div class="card card-common">
      <div class="card-body">
        <h3 class = "card-title text-center">Completed Quizzes</h3>
        <div class="row">
          <i class = "fa fa-question fa-3x float-left mr-3"></i>
          <div class="text-secondary text-center">
            <p class = "text-center">You have completed {{numQuiz}} <span *ngIf = "numQuiz ==1">quiz</span><span *ngIf = "numQuiz!=1">quizzes</span></p>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <button routerLink = "/quizzes" class="btn btn-outline-dark btn-sm"> <i class = "fa fa-eye mr-2"></i>Take a quiz</button>
      </div>
    </div>
  </div>
</div>
