<div class="row">
  <div class="col-md-4">
    <h2>Bursaries</h2>
  </div>

  <div class="col-4">
    <input type="text" placeholder="Search" class="form-control" [(ngModel)]="searchText">
  </div>

  <div class="col-3">
    <select name="BursFilter" class="form-control" [(ngModel)] = "filter">
      <option value="Recommended">Recommended</option>
      <option value="Favourite">Favourites</option>
      <option *ngFor="let field of fields" [value]="field">{{field}}</option>
    </select>
  </div>

</div>

<div *ngIf = "filter == 'All'">
  <app-application-item *ngFor = "let app of applications | searchApplication: searchText" [item] = "app" >
  </app-application-item>
</div>

<div *ngIf = "filter == 'Recommended'">
  <div *ngFor = "let app of applications | searchApplication: searchText">
    <app-application-item *ngIf = "contains(app)" [item] = "app" >
    </app-application-item>
  </div>
</div>

<div *ngIf = "filter == 'Favourite'">
  <div *ngFor = "let app of applications | searchApplication: searchText;">
    <app-application-item *ngIf = "userState.pinnedBursaries.indexOf(app.id)>-1" [item] = "app" >
    </app-application-item>
  </div>
</div>

<div *ngIf = "filter != 'All' && filter != 'Recommended' && filter!= 'Favourite'">
  <div *ngFor = "let app of applications | searchApplication: searchText; let i = index">
    <app-application-item *ngIf = "app.applicableFields.indexOf(filter)>-1" [item] = "app" >
    </app-application-item>
  </div>
</div>
