<div class="card card-common">
  <div class="card-body">
    <div class="card-text">
      <p *ngIf = "submitted" class="text-warning">This form has already been submitted.</p>
      <p *ngIf = "!submitted && !verified && !unAuth" class="text-warning">
        Please verify your email before submitting this form.
      </p>
      <a *ngIf = "!submitted && !verified && !unAuth" (click)="sendEmail()" [routerLink]="">Click here to resend verification email.</a>
      <div class="row mx-2 mb-3" *ngFor = "let name of formValuesNames">
        <label class="text-left">{{formValues[name]}}</label>
        <input type="text" [attr.disabled]="submitted ? '' : null" *ngIf = "!formOptions[name] && name.indexOf('address')==-1" [name]= 'name' class="form-control" [(ngModel)] = "formAnswers[name]">
        <div *ngIf = "name.indexOf('address')>-1" class="row col-12 form-group">
          <input type="text" class="form-control" placeholder="line 1" [attr.disabled]="submitted ? '' : null" [(ngModel)]="line1">
          <input type="text" class="form-control" placeholder="line 2" [attr.disabled]="submitted ? '' : null" [(ngModel)]="line2">
          <input type="text" class="form-control" placeholder="city" [attr.disabled]="submitted ? '' : null" [(ngModel)]="city">
          <input type="text" class="form-control" placeholder="province" [attr.disabled]="submitted ? '' : null" [(ngModel)]="province">
        </div>
        <p *ngIf = "name.indexOf('address')>-1" class = "text-warning">This address should be in the greater Cape Town region</p>
        <select *ngIf = "formOptions[name]" [attr.disabled]="submitted ? '' : null"  [name] = 'name' class = "form-control" [(ngModel)] = "formAnswers[name]">
          <option value="" selected disabled hidden>Choose an option</option>
          <option *ngFor = "let option of formOptions[name]" [value] = 'option' >{{option}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row-md-12">
      <div class="col-md-12">
        <div class="row">
          <div *ngIf = "section!=0" class="col">
            <a class="btn btn-primary text-light">Back</a>
          </div>
          <div class="col">
            <a class="btn btn-primary text-light" *ngIf = "!submitted" (click) = 'save()'>Save</a>
          </div>
          <div *ngIf = "section+1 != numSections" class="col">
            <a class="btn btn-primary text-light" (click) = "next()">Next</a>
          </div>
          <div *ngIf = "section+1 == numSections && !submitted && verified"  class="col">
            <a class= "btn btn-primary text-light" [routerLink] = "'/applications/' + id + '/apply/submit'">Submit</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
