<div class="p-2">
  <a routerLink = "/applications/" *ngIf="profile.userState.progress && profile.userState.progress!=0" class = "btn btn-primary btn-sm ml-2 mb-2">Back to bursaries</a>
</div>
<div class="card card-common">
  <div class="card-body">
    <div class="row-xs-12 row-sm-12 row-md-12" >
      <h3 class="card-title text-center">{{app.title}} Application</h3>
      <div class="card-text">
        <p>The following application requires you to fill in {{app.sections}} sections.</p>
        <p>Please make sure you've read the requirements carefully.</p>
        <p>You can <b>save</b> your application and come back to it at any time before the closing date.</p>
        <p>Your application will be sent directly to the bursary provider when you press <b>submit</b>.</p>
        <p>The application can't be edited once it is submitted.</p>
        <p>If you have any questions or comments please let us know. Good luck!</p>
        <h3>Instructions</h3>
        <p [innerHTML] = "app.applicationProcess"></p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button name="toForm" class="btn btn-primary text-light" [routerLink] = "'/applications/'+id+'/apply/0'">Start Application</button>
  </div>
</div>
