<div class="login row mb-12">
  <div class=" col-md-4 p-3">

  </div>

  <div class="col-md-4 p-3">
    <div class="card card-common log-card">
      <div class="card-body">
        <div class="row mt-3">
          <div class="col-md-4 col-lg-4">

          </div>
          <div class="col-md-4 col-lg-4">
            <img src="assets/img/logo.png" alt="" class="rounded-circle mr-3">
          </div>
        </div>

        <div [ngSwitch]="method">

          <div *ngSwitchCase="'email'">
            <app-login-email></app-login-email>
          </div>

          <div *ngSwitchCase="'phone'">
            <app-phone-login></app-phone-login>
          </div>

          <div *ngSwitchDefault>
            <div class="row rd">

            </div>

            <div class="row rd">
              <div class="btn white darken-4 col s10 m4 form-group">
                <button class="form-control" (click) = "changeMethod('email')">
                  <i class="fa fa-envelope fa-md mr-1"></i>
                  Login with Email
                </button>
              </div>
            </div>

            <div class="row rd">
              <div class="btn white darken-4 col s10 m4 form-group">
                <button class="form-control" (click) = "logInGoogle()">
                  <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                  Login with Google
                </button>
              </div>
            </div>

            <div class="row rd">
              <div class="btn white darken-4 col s10 m4 form-group">
                <button class="form-control" (click) = "changeMethod('phone')">
                  <i class="fa fa-phone fa-md mr-1"></i>
                  Login with Phone
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row-mb-12 op">
          <div class="col">
            <div class="form-group">
              <p class="text-center">Find out more about <a href="https://zelda.org.za/">Zelda</a></p>
            </div>
          </div>
        </div>

        <div class="row" *ngIf = "method!=''">
          <div class="col btn white darken-4 col s10 m4 form-group">
            <a class = "form-control" (click) = "method = ''"> Back</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
