.login{
  overflow:auto;
  height: 100vh;
  background-color: #168582;
  background-image: url("/assets/img/clarmonthigh-1999.jpg");
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
}

.log-card{
  height: calc(100%)!important;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: auto;
}

.op{
  background-color: rgba(230, 255, 255, 0.8);
}


h1,h2,h3{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff!important
}

h1{
  font-size: 150px;
  max-width: 100%;
}

h2{
  font-size: 65px;
  transform: scale(1.5,1);
  max-width: 100%;
}

h3{
  text-align: center;
}

.image img{
  position: absolute;
  width: 100%;
  overflow: auto;
}

img{
  max-width: 100%;
}

.red{
  color: red;
}

a{
  color: orange;
  text-decoration: underline;
}

.rd{
  min-height: 15vh
}
