<div class="wrap">
  <div class="chat_window h-75" id="window">
    <ul class="messages">
      <li *ngFor = "let mess of messages" [class] = "mess.messageZeldaTeam ? 'message right appeared' : 'message left appeared'">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
            <div class="text">{{mess.messageText}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="chat_window" id="foot">
    <div class="form-row align-items-center">
      <div class="col-xs-12 col-sm-8 col-md-10">
        <input type="text" name="send_message" class = "form-control grey" [(ngModel)]="messageText" placeholder="Write message here">
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2">
        <button type="button" name="send" class = "btn form-control" (click) = 'sendMessage()' >Send</button>
      </div>
    </div>
  </div>
</div>
