* {
  box-sizing: border-box;
}

body {
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: relative;
  width: calc(100%);
//  max-width: 800px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow-y: auto;
  overflow-x: hidden;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  overflow: auto;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
}
.messages .message.right .avatar {
  background-image: url("/assets/img/logo.png");
  background-size: 60px , 60px;
  float: left;
}
.messages .message.right .text_wrapper {
  background-color: #168582;
  margin-left: 20px;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  right: 100%;
  border-right-color: #468582;
}
.messages .message.right .text {
  color: #FFF;
}
.messages .message.left .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.left .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.left.text_wrapper::after, .messages .message.left .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.left .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.message_template {
  display: none;
}

.foot{
  position: fixed;
  bottom: 0px;
}

.wrap {
  height: 100%;
}

.grey{
  background-color: rgb(250,250,250);
}
