.sidebar {
    height: 100vh;
    background: rgb(22, 133, 130);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    transition: all 0.3s;
}

.fa-chevron-left{
  cursor: pointer;
  &:before {
    padding: 3px;
    background-color: rgb(44, 133, 130);
    box-shadow: 1px 1px 1px #555;
  }
}

.active{
  margin-left: 0px;
}

.notactive{
  margin-left: -768px;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: #09b9b0;
    border-radius: 2px;
}

.current {
    background-color: #06837c;
    border-radius: 3px;
    box-shadow: 1px 2px 5px #111;
}

.current:hover {
    background-color: #09b9b0;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #111;
    transform: translateX(-1px);
}

img{
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom:10px;
  left: 20%;
  max-width: 200px;
  width: 60%;
}

p{
  margin-bottom: 0px;
}

.fa-chevron-left{
  font-size: 24px;
}

