<div [class]="profile.menClass">
    <div class="bottom-border pb-3">
      <div class="row-xl-12 mt-2">
        <div class="col-md-12">
          <a><i class = "fa fa-chevron-left text-light float-right" (click) = "clickToggle()"></i></a>
        </div>
      </div>
      <div class="row-xl-12">
        <a routerLink="/profile" class="text-white" >
          <div class="col-xl-12">
              <img [src]="profile.pic" class="rounded-circle mr-3">
              <p *ngIf = "!profile.userState.username || profile.userState.username ==''" class = "text-center">{{profile.userPersonal.firstName + " " +profile.userPersonal.lastName}}</p>
              <p *ngIf = "profile.userState.username!=''" class = "text-center">{{profile.userState.username}}</p>
          </div>
        </a>
      </div>
      </div>
    <ul class="navbar-nav flex-column mt-4">
        <li *ngFor = "let men of menuItems" ngclass="nav-item">
            <a (click)= "toggleMaybe()" routerLink= {{men.ref}}
            class="nav-link text-white p-3 mb-2 sidebar-link"
            [routerLinkActive]="['current']"
            [routerLinkActiveOptions]="{exact: false}">
              <div class="row">
                <div class="col-md-3">
                  <i [class]="men.imageName"></i>
                </div>

                <div class="col-md-8">
                  {{men.text}}
                </div>

              </div>
            </a>
        </li>
    </ul>
</div>
