button{
  float: right;
}

h4{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.item{
  width: 310px;
  height: auto;
  overflow: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-width: 3px;
}

.resText{
  width: 200px;
  margin-left: 5px;
  margin-top: 2px;
  float:left;
  white-space: normal;
}

.pic{
  width: 75px;
  height : 75px;
  float: left;
}

.pic img{
  width: 75px;
  float: left;
}

.x{
  float: left;
}

.xbut{
  float: left;
}

.pin{
  float: right;
}

.opt{
  width: 305px;
  clear: all;
  float: left;
}
