<div class="p-2">
  <a routerLink = "/applications/" *ngIf = "profile.userState.progress && profile.userState.progress!=0 && !appService.unAuth" class = "btn btn-primary btn-sm ml-2 mb-2">Back to bursaries</a>
</div>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class = "nav-item" *ngFor = "let item of navItems">
        <a [class] = "getClass(''+item)" [routerLink] = "'/applications/' + id +'/apply/'+item">Section {{letters[item]}}</a>
      </li>
      <li class = "nav-item" *ngIf = "!profile.userState.progress || profile.userState.progress==0">
        <a [class] = "getClass('signup')" [routerLink] = "'/applications/' + id +'/apply/signup'">Sign up</a>
      </li>
      <li *ngIf = "!appService.submitted && (verified || appService.unAuth)" class = "nav-item">
        <a [class] = "getClass('submit')" [routerLink] = "'/applications/' + id +'/apply/submit'">Submit</a>
      </li>
    </ul>
  </div>
  <app-application-form-fragment *ngIf = "route != 'submit' && route!= 'signup'" [section] = 'route' [numSections] = "sections"></app-application-form-fragment>
  <app-application-submit [userFormId] = "userFormId" *ngIf = "route == 'submit'"></app-application-submit>
  <app-signup *ngIf = "route == 'signup'"></app-signup>
</div>
