<h2>Recommended fields : </h2>
<div class="card card-common">
  <div class="card-body">
    <h2 *ngIf= "!ready" class="card-title">Please wait for your results</h2>
    <div *ngIf = "ready" class="personality-chart">
      <chart type="pie" [data]="data" [options]="options" (clickElement) = "clickElement($event)"></chart>
    </div>
  </div>
</div>
<p>The above results are based on your answers to the personality questions. Click on a sector to find out more about that faculty</p>
<div class="card card-common" *ngIf= "field!=''">
  <div class="card-body">
    <div [ngSwitch] = "field">
        <div *ngSwitchCase = "'Humanities'">
          <app-humanities></app-humanities>
        </div>
        <div *ngSwitchCase = "'Health Science'">
          <app-health-science></app-health-science>
        </div>
        <div *ngSwitchCase = "'Law'">
          <app-law></app-law>
        </div>
        <div *ngSwitchCase = "'Science'">
          <app-science></app-science>
        </div>
        <div *ngSwitchCase = "'Commerce'">
          <app-commerce></app-commerce>
        </div>
        <div *ngSwitchCase = "'EBE'">
          <app-ebe></app-ebe>
        </div>
    </div>
  </div>
</div>
