<h3>Humanities</h3>

<p>With a Bachelor of Arts (BA) degree you would learn to communicate, to solve problems and to think critically and analytically. BA graduates are highly skilled and able to work in almost any ​field. You might have matched with this faculty because of your passion or aptitude for critical thinking, communication and development skills.</p>

<p>Humanities, or BA degrees, are degrees that fall the scope of the study of human culture. There is a huge array of degrees and career options available to someone with a BA degree. These include the umbrella career paths of:</p>
<ul>
  <li>Media, marketing and journalism</li>
  <li>The public sector and administration</li>
  <li>Teaching</li>
  <li>Counselling, psychology or social work</li>
  <li>Human history, gender and social studies</li>
</ul>

<p>The private sector is constantly on the look-out for successful graduates to take up positions in middle management because it values the proficiency in problem-solving and communications that a student develops while studying for a BA. The ability to think critically and imaginatively and to convey ideas clearly is valued in any profession.  You can find out more about which humanities careers may suit you <a href="http://www.playbuzz.com/studymyway10/what-career-in-humanities-is-right-for-me">here</a>.</p>
