<div *ngIf="startedAppsKeys && startedAppsKeys[0]" id="startedApps">
  <div class="row">
    <div class="col my-3 mx-0">
      <div class="card card-common">
        <div class="card-body">
          <h2 class = "card-title">Started Applications</h2>
          <app-user-application-card *ngFor="let app of startedAppsKeys" [app] = "app" [submitted] = "false"></app-user-application-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="completedAppsKeys && completedAppsKeys[0]" id = "completedApps">
  <div class="row">
    <div class="col my-3">
      <div class="card card-common ">
        <div class="card-body">
          <h3 class="card-title">Completed Applications</h3>
          <app-user-application-card *ngFor="let app of completedAppsKeys" [app] ="app" [submitted] = "true" ></app-user-application-card>
        </div>
      </div>
    </div>
  </div>
</div>
