<div class="row">
  <div class="col-xl-12 p-3">
    <div class="card card-common">
      <div class="card-body">
        <h2 class="card-title">Recommended Bursaries</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr *ngIf = "recBursaries.length!=0">
                <th></th>
                <th>Bursary Name</th>
                <th>Description</th>
                <th>Deadline</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let fav of recBursaries.slice(0,5)" class="table-striped">
                <td (click) = "clickFav(fav)"><img [src]="fav.image" alt=""></td>
                <td (click) = "clickFav(fav)">{{fav.title.substr(0,200)}}<span *ngIf = "fav.title.length>200">...</span></td>
                <td  (click) = "clickFav(fav)">{{fav.subtitle.substr(0,200)}}<span *ngIf = "fav.subtitle.length>200">...</span></td>
                <td  (click) = "clickFav(fav)" >{{fav.closingDate.toDate() | date : "dd/MM/yyyy"}}</td>
              </tr>
            </tbody>
            <tfoot >
              <tr>
                <td *ngIf = "recBursaries.length!=0" colspan="4"><a class = "float-right" routerLink = "/applications/"> <i class ="fa fa-ellipsis-v mr-3"></i>See more</a></td>
                <td *ngIf = "recBursaries.length==0" colspan="4">Add more information to fields you like to get recommended bursaries</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
