<h3>Science</h3>

<p>You might have matched with the Science faculty because you demonstrated organisational and research oriented skills. Are you curious and creative? Do you wonder how things work? With a career in science in the modern world you could make a huge difference to society. You could find a cure for a deadly illness or develop an exciting new product. Study programmes in the Faculty of Science span the mathematical, physical, biological and earth sciences and range from the fundamental to the more applied, and from the theoretical to
the experimental.</p>

<p>Key skills and qualities you need to become a scientist include:</p>
<ul>
  <li>Good numerical skills</li>
  <li>An enquiring mind</li>
  <li>An interest in the future of science</li>
  <li>The ability to work in a team and independently</li>
  <li>The ability to stay calm under pressure</li>
  <li>Problem solving skills</li>
  <li>Perseverance and patience</li>
</ul>

<p>The science faculty should be the faculty of choice for students who value a comprehensive and life-enriching science education, for staff pursuing excellence and innovation in research and teaching, and for individuals and organisations seeking partnerships with leading scientists. For a list of careers in science click <a href="https://www.prospects.ac.uk/jobs-and-work-experience/job-sectors/science-and-pharmaceuticals/graduate-jobs-in-science-and-pharmaceuticals">here</a>.</p> 
