<div class="row mb-12">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2">
            <img class="img-responsive center-block"[src]="pic">
          </div>

          <div class="col-xl-10">
            <div class="text-secondary">
              <h3>{{item.title}}</h3>
              <p>{{cont.substr(0,175)}} <span *ngIf = "cont.length >175"> ...</span></p>
              <p class = "text-right">Application close date: <span >{{item.closingDate.toDate() | date: "dd/MM/yyyy"}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/universities/{{item.id}}" class="btn btn-outline-dark btn-sm">See more</button>
        <span class="right"><a class="btn btn-outline-dark btn-sm" [href]="item.link" target="_blank">Apply</a></span>
      </div>
    </div>
  </div>
</div>
