<div class="cont">
  <div class = "image">
    <img [src]="pic" >
  </div>
  <div class = "text">
    <h3>{{item.title}}</h3>
    <p>{{item.blurb}}</p>
  </div>
  <div class="options">
    <button routerLink = "{{item.id}}">See more</button>
  </div>
</div>
