button{
  float: right;
}
.cont{
  position: relative;
  margin-bottom: 10px;
  min-height: 90px;
  min-width: 665px;
  display: inline-block;
  border-style: groove;
  border-width: 3px;
  overflow: auto;
}

.image{
  width:75px;
  height: 75px;
  margin: 5px;
  float: left;
}

.text{
  margin-right: 20px;
  min-height: 80;
}

.x{
  position: absolute;
  right: 0px;
  top:0px;
}

.message{
  position:absolute;
  right : 40px;
  top: 0px;
  float: right;
}

.options{
  clear: both;
  min-height: 20px;
}

.options button{
  float: right;
  margin-left: 10px;
}

img{
  height: 75px;
  width: 75px;
}

h3{
  margin-top : 0px;
}
