<div class="row">
  <div class="col-md-6">
    <h2>Universities</h2>
  </div>
  <div class="col-md-4">
    <select name="UniFilter" class="form-control"[(ngModel)] = "filter">
      <option value="All">All</option>
      <option value="Public">Public</option>
      <option value="Private">Private</option>
      <option value="Tecnikon">Tecnikon</option>
      <option value="Vocational Training">Vocational Training</option>
    </select>
  </div>
</div>

<div *ngIf = "filter == 'All'">
  <app-university-item *ngFor = "let uni of universities; let i =index" [item] = "uni" >
  </app-university-item>
</div>

<div *ngIf = "filter!='All'">
  <div *ngFor = "let uni of universities; let i =index" >
    <app-university-item *ngIf = "uni.type == filter" [item] = "uni" >
    </app-university-item>
  </div>
</div>
