<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-xl-4">
        <img [src]="pic" alt="Picture">
      </div>
      <div class="col-xl-8">
        <div class="text-center pt-4">
          <h2 class = "card-title">{{quiz.title}}</h2>
        </div>
        <div class="row text-muted">
          <h4 class = "card-title">{{quiz.subtitle}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">

  <div class="card-body" *ngFor = "let ques of quiz.answers ; let i = index">

      <app-question [realAns] = "quiz.answers[i]" [questionNum] = "i+1"
      [id] = "quiz.id" [ans] = "" ></app-question>



  </div>


  <button type="button" class="btn btn-outline btn-sm" (click) = "getAnswers()" > <h3>Check Answers</h3> </button>

<br><br>

</div>
