<div class="row mb-12">
  <div class="col-sm-11 col-xl-11 p-5">
    <div class="card border-secondary card-common">
      <div class="card-header"><h5>Question {{questionNum +" : "}}</h5> </div>
      <div class="card-body">
        <div class="justify-content-between">
          <div class="row">
            <div class="col-xl-2">

            </div>
            <div class="col-xl-8 quest">
              <img class= "quest" [src]="image" alt="">
            </div>
          </div>

          <div *ngIf = "correct" class="row">
            <h4 *ngIf = "correct == 'correct'" class="green">Correct</h4>
            <h4 *ngIf = "correct == 'incorrect'" class="red">Incorrect</h4>
          </div>

          <div *ngFor = "let opt of optionNums; let i =index" class="row">
            <div class="col-xl-1">
              <input type="radio" [name] = "questionNum" [value] ="letters[i]"
                (change)= "onChange(i)" [checked] = "isChecked(i)">
            </div>
            <div class="col-xl-4">
              <img [src]="options[i]" alt="" class="option" height="75" width="100%">
            </div>
          </div>

          <div *ngIf = "correct == 'incorrect'" class="row">
            <h4 class="green">The correct answer is : </h4>
            <img [src]="correctOptionPic" alt="noPic">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
