<div class="card card-common card-personality">
  <div class="card-body">
    <p *ngIf= "!ready" class="card-title">Please take our personality quiz to find out more</p>
    <button *ngIf= "!ready" class="btn btn-primary" name="quiz" routerLink = "/introquiz">Take quiz</button>
    <div class = "clickable row-md-12 mb-2" *ngIf = "ready" >
      <chart type="pie" [data]="data" [options]="options" (clickElement) = "clickElement($event)"></chart>
    </div>

    <div [ngSwitch] = "field">
        <div *ngSwitchCase = "'Humanities'">
          <app-humanities></app-humanities>
        </div>
        <div *ngSwitchCase = "'Health Science'">
          <app-health-science></app-health-science>
        </div>
        <div *ngSwitchCase = "'Law'">
          <app-law></app-law>
        </div>
        <div *ngSwitchCase = "'Science'">
          <app-science></app-science>
        </div>
        <div *ngSwitchCase = "'Commerce'">
          <app-commerce></app-commerce>
        </div>
        <div *ngSwitchCase = "'EBE'">
          <app-ebe></app-ebe>
        </div>
    </div>
  </div>
</div>
