button{
}


p{
  font-size: 0.8em;
}


#search{
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1em;
  width: 275px;
}


select{
  width: 133px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 1em;
}
