<form class="">
  <p>
    <input type="text" id="search" placeholder="Search All">
    <button type="submit">S</button>
  </p>
  <p>
    <label>View: </label>

    <select name = "resourceSelector">
      <option value="resources">All</option>
      <option value="universities">Universities</option>
      <option value="applications">Applications</option>
      <option value="companies">Companies</option>
      <option value="articles">Articles</option>
    </select>

    <select  name="filterSelector">
      <option value = "reccomended">Reccomended</option>
      <option value= "byDate">Closing soon</option>
      <option value= "pinned">Pinned Items</option>
    </select>
  </p>
</form>

<app-feed-item  class="resItem" *ngFor = "let res of allRes ; let i = index"
  [item] = "res"></app-feed-item>
