#menu{
//  display: inline-block;
}

#cont{
}

#head{
//  border-style: groove;
  //width: 1200px;
  //margin: auto;

}

#rout{
//  display: inline-block;
//  position: absolute;
//  margin-top: 20px;
//  margin-left:2px;
//  margin-right: 40px;
//  margin-left: 0px;
  overflow-x: hidden;
}

.margin{
  margin-top: 60px;
}

#login{
//  width: 800px;
//  margin: 0 auto;
}

button{
//  width: 200px;
}
