<div class="all">
  <div id="head" *ngIf = "!database.noMenu && database.loggedIn" class="row-md-12 ">
    <app-header></app-header>
  </div>

  <div id="cont">

    <div id="menu" *ngIf = "!database.noMenu && database.loggedIn" class= "col-md-2 ">
      <app-menu></app-menu>
    </div>

    <div id="rout" [class]="database.rClass">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
