<div class="card card-common card-body">
  <div class="row p-2">
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>School Name</label>
        <input type="text" name="schoolName" class="form-control" [ngClass]="getSchoolClass('schoolName')" [(ngModel)]="profile.userSchool.schoolName" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>School Province</label>
        <input type="text" name="schoolProvince" class="form-control" [ngClass]="getSchoolClass('schoolProvince')" [(ngModel)]="profile.userSchool.schoolProvince" />
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>High school grade in 2019</label>
        <select  name="currentgrade" class="form-control" [ngClass]="getSchoolClass('currentGrade')" [(ngModel)]="profile.userSchool.currentGrade" >
          <option value = "11">11</option>
          <option value = "12">12</option>
          <option value = "Matriculated">Matriculated</option>
        </select>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12" *ngIf="profile.userSchool.currentGrade == '11' || profile.userSchool.currentGrade =='12'">
      <div class="form-group">
        <label>Scan or picture of last report</label>
        <div class="input-group">
          <input *ngIf="!reportUploaded" type="file" class="form-control is-invalid" accept=".pdf,.jpg" name="reportpdf" (change)="upReport($event)"/>
          <input *ngIf="reportUploaded" type="text" class="form-control form-inline is-valid" value="File uploaded" disabled/>
          <button *ngIf = "reportUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click)="removeReport()">Remove</button>
          <a *ngIf = "reportUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click) = "goToLink(reportUrl)">Download</a>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12" *ngIf="profile.userSchool.currentGrade == 'Matriculated'">
      <div class="form-group">
        <label>Scan or picture of matric certificate</label>
        <div class="input-group">
          <input *ngIf="!matricUploaded" type="file" class="form-control is-invalid" accept=".pdf,.jpg" name="reportpdf" (change)="upMatric($event)"/>
          <input *ngIf="matricUploaded" type="text" class="form-control form-inline is-valid" value="File uploaded" disabled/>
          <button *ngIf = "matricUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click)="removeMatric()">Remove</button>
          <a *ngIf = "matricUploaded" class = "btn btn-primary ml-1 float-right form-inline" (click) = "goToLink(matricUrl)">Download</a>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Year when you will complete / have completed matric</label>
        <input type="text" name="completeMatric" class="form-control" [ngClass]="getSchoolClass('matricCompletedYear')" [(ngModel)]="profile.userSchool.matricCompletedYear" >
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Year that you started high school</label>
        <input type="text" name="startSchool" class="form-control" [ngClass]="getSchoolClass('schoolYearStarted')" [(ngModel)]="profile.userSchool.schoolYearStarted" >
      </div>
    </div>


      <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 form-group">
        <label>School Address</label>
        <input type="text" class="form-control mb-1" placeholder="line 1" [ngClass]="getProfileClass('sline1')"  [(ngModel)]="profile.sline1">
        <input type="text" class="form-control mb-1" placeholder="line 2" [ngClass]="getProfileClass('sline2')" [(ngModel)]="profile.sline2">
        <input type="text" class="form-control mb-1" placeholder="city" [ngClass]="getProfileClass('scity')" [(ngModel)]="profile.scity">
        <input type="text" class="form-control mb-1" placeholder="province" [ngClass]="getProfileClass('sprovince')" [(ngModel)]="profile.sprovince">
        <input type="text" class="form-control" placeholder="zip" [ngClass]="getProfileClass('szip')" [(ngModel)]="profile.szip">
      </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>University Year</label>
        <select type="text" name="year" class="form-control" [ngClass]="getSchoolClass('universityYear')" [(ngModel)]="profile.userSchool.universityYear" >
          <option value = "Not currently at university">Not currently at university</option>
          <option value = "1st year undergraduate">1st year undergraduate</option>
          <option value = "2nd year undergraduate">2nd year undergraduate</option>
          <option value = "3rd year undergraduate">3rd year undergraduate</option>
          <option value = "4th year undergraduate">4th year undergraduate</option>
          <option value = "5th year undergraduate">5th year undergraduate</option>
          <option value = "6th year undergraduate">6th year undergraduate</option>
        </select>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Current / prospective university name</label>
        <input type="text" name="uniName" class="form-control" [ngClass]="getSchoolClass('universityName')" [(ngModel)]="profile.userSchool.universityName" >
      </div>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <label>Current / prospective degree</label>
        <input type="text" name="degree" class="form-control" [ngClass]="getSchoolClass('degreeName')" [(ngModel)]="profile.userSchool.degreeName" >
      </div>
    </div>
  </div>

    <div class ="row p-2" *ngIf="profile.userSchool.universityYear && profile.userSchool.universityYear != '' && profile.userSchool.universityYear != 'Not currently at university'">

      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Year that you started studying</label>
          <input type="text" name="startUni" class="form-control" [ngClass]="getSchoolClass('universityStartedYear')" [(ngModel)]="profile.userSchool.degreeStartedYear" >
        </div>
      </div>

      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Year that you applied to university</label>
          <input type="text" name="appUni" class="form-control" [ngClass]="getSchoolClass('universityApplicationYear')" [(ngModel)]="profile.userSchool.degreeApplicationYear" >
        </div>
      </div>

      <!--<div class="col-xl-6 col-md-6 col-sm-12">-->
        <!--<div class="form-group">-->
          <!--<label>Scan or picture of latest transcript</label>-->
          <!--<input type="file" class="form-control" accept=".pdf,.jpg" name="transpdf" (change)="upTranscript($event)"/>-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <label>Time left to complete your degree</label>
          <select name="compUni" class="form-control" [ngClass]="getSchoolClass('degreeDuration')" [(ngModel)]="profile.userSchool.degreeDuration" >
            <option value="6 months">6 months</option>
            <option value="1 year">1 year</option>
            <option value="2 years">2 years</option>
            <option value="3 years">3 years</option>
            <option value="4 years">4 years</option>
            <option value="5 years">5 years</option>
            <option value="6 years">6 years</option>
          </select>
        </div>
      </div>
    </div>

  <div *ngIf="profile.userSchool.currentGrade == 'Matriculated'" class="row p-2">
    <div class="col">
      <label>Any other education completed after high school</label>
      <textarea rows="6" name="postMatric" class="form-control" [ngClass]="getSchoolClass('postMatricStudies')" [(ngModel)]="profile.userSchool.postMatricStudies" ></textarea>
    </div>
  </div>

  <div class="row p-2">
    <div class="col ">

      <label>
        <h4 class="text-left mb-3 mt-2 well">Most recent marks</h4>
      </label>

    </div>
  </div>

  <div class="row mb-12 p-2">
    <div class="col">
      <div *ngIf="profile.numSub != 0">
        <label class="text-bold">Subject name</label>
        <div class="subject" *ngFor="let sub of profile.keys; let i = index; trackBy: trackByFn">
          <input type="text" class="form-control" [(ngModel)]="profile.keys[i]" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
    </div>

    <div class="col">
      <div *ngIf="profile.numSub != 0">
        <label class="text-bold">Mark</label>
        <div class="subject" *ngFor="let sub of profile.keys; let i = index; trackBy: trackByFn">
          <input type="number" class="form-control" [(ngModel)]="profile.marks[i]" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-12">
    <div class="col-sm-6 col-xl-6">
      <div class="form-group">
        <label class="text-center text-muted mb-3 mt-2 well">Number of subjects: {{profile.numSub}}</label>
      </div>
    </div>
  </div>

  <div class="row mb-12">
    <div class="col-sm-6 col-xl-6">
      <button name="add" (click)="addSubject()" class="btn btn-sm mr-3">
        <i class="fa fa-plus-circle  fa-lg mr-1"></i>Add subject</button>

      <button name="remove" (click)="removeSubject()" class="btn btn-sm mr-3">
        <i class="fa fa-minus-circle  fa-lg mr-1"></i>Remove subject</button>
    </div>
  </div>
</div>
