<div class="item">
  <div class="pic"> <img [src] = "pic" /></div>
  <div class="resText">
    <h4>{{item.title}}</h4>
    <p>{{cont.substr(0,60)+"..."}}</p>
  </div>

  <div class="opt">
    <button routerLink = "/applications/{{item.id}}" class="btn btn-outline-dark btn-sm">See more</button>
  </div>
</div>
