<div class="row mb-12">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">
      <div class="card-body">
        <!-- d-flex justify-content-between: to place the icon and headiing at the same level -->
        <div class="">
          <i class="fa fa-3x text-warning float-left">  <img [src]="pic"> </i>
          <div class="text-secondary float-left">
            <h3>{{item.title}} </h3>
            <p>{{cont}}</p>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button routerLink = "/articles/{{item.id}}" class="btn btn-outline-dark btn-sm" >View tip</button>
      </div>
    </div>
  </div>
</div>
