<div class="cont">
  <app-user-progress></app-user-progress>
  <button type="button" name="profile" *ngIf = "userProgress!=100" routerLink = "/profile"><h4>Complete Profile</h4></button>
  <h2>Top tips :</h2>
  <app-feed-item  class="resItem" *ngFor = "let res of allRes ; let i = index"
    [item] = "res"></app-feed-item>
</div>
