<div class="row mb-12">
  <div class="col-sm-12 col-xl-12 p-3">
    <!-- card-common: custom css class for styling the cards -->
    <div class="card card-common">

      <div class="card-body">

        <div class="row">
          <div class="col-xl-2">
            <img [src]="pic">
          </div>
          <div class="col-xl-6">
            <div class="text-secondary">
              <h3>
                {{item.title}}
              </h3>
              <p>{{item.subtitle}}</p>
              <p *ngIf="percent" class="green" >Mark obtained : {{percent}}%</p>
            </div>
          </div>
          <div class="col-xl-3 green text-right p-2">

          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <button *ngIf="!percent" routerLink="{{item.id}}" class="btn btn-outline-dark btn-sm">
          <i class=" fa fa-pencil mr-2"></i>Start Quiz</button>
        <button *ngIf="percent" routerLink="{{item.id}}" class="btn btn-outline-dark btn-sm">
          <i class=" fa fa-refresh mr-2"></i>Redo Quiz</button>
      </div>
    </div>

  </div>
</div>
