<h2>Terms and Conditions</h2>
<p>Welcome to the Zelda app (the “App”). The App is operated by Zelda Learning (Pty) Ltd. (collectively,
“we”, “us” or “Zelda”). By accessing or using the App or by registering as a member of the App you
(you are referred to hereafter as “User”, “you” or “your”) signify that you have read, understand and
agree to be bound by these Terms of Service, whether or not you are a registered member of the
App.</p>
<p>    We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these
Terms of Service at any time without further notice. If we do this, we will post the changes to these
Terms of Service on this page and will indicate at the top of this page the date these terms were last
revised. Your continued use of the App after any such changes constitutes your acceptance of the
new Terms of Service.</p>
<p>    If you do not agree to abide by these or any future Terms of Service or the Privacy Policy
[www.zelda.org.za/privacy], do not use or access (or continue to use or access) the App. It is your
responsibility to regularly check the App to determine if there have been changes to these Terms of
Service and to review such changes.</p>
<p>    Please read these Terms of Service carefully, as they contain important information regarding your
legal obligations, remedies, and rights, including various limitations and exclusions.\n\n
    <h3>Membership Eligibility</h3>
<p>    1. Eligibility; Accounts. the App is not available to (A) any Users previously suspended or removed
from the App by Zelda OR (B) ANY PERSONS UNDER THE AGE OF 13 WHOSE REGISTRATION HAS NOT
BEEN APPROVED BY A LEGAL PARENT OR GUARDIAN. By using or registering an account for the App,
You represent (a) that You have not been previously suspended or removed from the Service by
Zelda, (b) that You are either (i) at least 13 years of age or (ii) Your parent and/or guardian has
consented to Your use of the App; and (c) that your registration and your use of the App is in
compliance with any and all applicable laws and regulations.</p>
        <h6>Account.</h6>
<p>    In order to use certain features of the App, you must register for an account. You
may be asked to provide a password in connection with your account. You are solely
responsible for maintaining the confidentiality of your account and password and for
restricting access to your device, and You agree to accept responsibility for all activities that
occur under your account or password. You agree that the information You provide to Zelda,
whether on registration or at any other time, will be true, accurate, current, and complete.
You also agree that You will ensure that this information is kept accurate and up-to- date at
all times. If You have reason to believe that your account is no longer secure (e.g., in the
event of a loss, theft or unauthorized disclosure or use of your account ID, password, or any
other personal information), then You agree to immediately notify Zelda. You may be liable
for the losses incurred by Zelda or others due to any unauthorized use of your App account.</p>
        <h6>Child.</h6>
<p>  If you are a User of the App that is under the age of 13 (“Child”), you may not register
an account for the App without consent and approval from your legal parent or guardian. A
Child that begins the registration process for himself or herself without a Parent may have
the registration process restricted until a Parent, Counselor or Teacher approves or assumes
responsibility for the Child’s account. Additionally, a Child may use the App if registered
through certain educational organizations and schools that have entered into a relationship
directly with Zelda and through which educational organization the legal parent and/or
guardian of such Child has consented to use of the App. A Child who has registered through
such external educational organizations will only be permitted to use the App for so long as
Zelda reasonably believes that such access has been consented by the Child’s parent of
guardian.</p>
        <h6>Parent.</h6>
<p>  If You are at least 18 years of age and you are the legal parent or guardian of a Child
that seeks to register for the App, you may register your child for the App. If you are a Parent
you may create, register, manage and approve accounts only for your own children, or
children for whom you are a legal guardian. Child accounts may be terminated by Zelda at
any time and without warning for any failure to abide by these Terms. IF YOU REGISTER,
APPROVE THE REGISTRATION OF, OR OTHERWISE ASSUME RESPONSIBILITY FOR ANY CHILD,
YOU REPRESENT AND WARRANT THAT YOU ARE SUCH CHILD’S LEGAL PARENT OR GUARDIAN
AND YOU AGREE TO BE BOUND BY THE TERMS ON BEHALF OF SUCH CHILD, INCLUDING
WITHOUT LIMITATION BEING LIABLE FOR ALL USE OF THE WEBSITE BY THE CHILD. You
acknowledge that Zelda may choose, but is not obligated, to make any inquiries, either
directly or through third parties, that Zelda deems necessary to validate Your registration
information, including without limitation engaging third parties to provide verification
services. Zelda reserves all rights to take legal actions against anyone who misrepresents
personal information or is otherwise untruthful about their identity. NOTWITHSTANDING
THE FOREGOING, YOU ACKNOWLEDGE THAT ZELDA CANNOT GUARANTEE THE ACCURACY
OF ANY INFORMATION SUBMITTED BY ANY USER AND ZELDA IS NOT OBLIGATED TO VERIFY
THE IDENTITY OF ANY USER, INCLUDING ANY USER’S CLAIM TO BE A PARENT OR TEACHER,
OR TO VERIFY THAT A PARENT IDENTIFIED BY A CHILD OR A TEACHER DURING
REGISTRATION IS SUCH CHILD’S ACTUAL PARENT OR GUARDIAN.</p>
        <h3>Posting and Use of User Content</h3>
<p>        The App may include a social networking interface through which you can post messages and
respond to the messages of others. Zelda does not assert any ownership over the information and
content posted or uploaded by its members onto the App in the community or private areas (“User
Content”).</p>
<p>        You agree not to disclose to any person or entity personally identifiable information about other
members that you learn while using this Site without the express consent of such member. You may
disclose information of a general nature (that could not identify the member who provided such
information or whom such information is about) to third parties outside this Site, subject to the
below restriction on non-commercial use.</p>
<p>        In order to cooperate with legitimate governmental requests, subpoenas or court orders, to protect
Zelda’s systems and customers, or to ensure the integrity and operation of Zelda’s business and
systems, Zelda may access and disclose any information it considers necessary or appropriate,
including, without limitation, user profile information (i.e. name, e-mail address, etc.), IP addressing
and traffic information, usage history, and posted User Content.</p>
<p>        In your communications with Zelda, please keep in mind that unless we expressly request them,
Zelda does not seek any unsolicited ideas or materials, e.g. materials you authored (the “Unsolicited
Ideas and Materials”), for products or services, or even improvements to products or services, such
as ideas, concepts, inventions, or designs for scientific tools or otherwise. Any information and
materials you post on or send to us via the App or any associated app (regardless of whether we
have requested them or not) are deemed Unsolicited Ideas and Materials and are licensed to us as
set forth below. You agree that (a) your Unsolicited Ideas and Materials will be treated as non-
confidential – regardless of whether you mark them “confidential,” “proprietary,” or the like – and
will not be returned, and (b) Zelda does not assume any obligation of any kind to you or any third
party with respect to your Unsolicited Ideas and Materials.</p>
        <h3>Proprietary Rights in Site</h3>
<p>        All content on the App (other than your User Content), including designs, computer code, text,
graphics, pictures, music, sound, and other works and their selection and arrangement (collectively,
the “Site Content”) are the proprietary property of Zelda, it licensors, or other Users. No Site
Content may be modified, copied, distributed, framed, reproduced, republished, downloaded,
scraped, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part,
without Zelda’s prior written permission, except that the foregoing does not apply to your own User
Content that you legally post on the App. You are granted a limited license to access and use the App
and the App Content in accordance with these Terms of Use, including any member areas to which
you have properly gained access, solely for your personal, non-commercial use. Except for your own
User Content, you may not upload or republish Site Content on any Internet, intranet or extranet
site or incorporate the information in any other database or compilation, and any other use of the
App Content is strictly prohibited. Such license does not permit use of any data mining, robots,
scraping or similar data gathering or extraction methods. Unless explicitly stated herein, nothing in
these Terms of Service shall be construed as conferring any license to intellectual property rights.</p>
        <h3>Wireless Feature</h3>
<p>        The App or a mobile application associated with the App may offer certain features and services that
are available to you via your wireless Internet Device. These features and services may include the
ability to access the App or an application associated with the App’s features, and the ability to
upload content to the App or associated applications, receive messages from the App or any
associated app, and download applications to your wireless Internet device (collectively, “Wireless
Features”). Standard messaging, data, and other fees may be charged by your carrier to participate
in Wireless Features. Fees and charges may appear on your wireless bill or be deducted from your
pre-paid balance. Your carrier may prohibit or restrict certain Wireless Features and certain Wireless
Features may be incompatible with your carrier or wireless Internet Device. You should check with
your carrier to find out what plans are available and how much they cost. Contact your carrier with
answers regarding these issues.
You agree that as to the Wireless Features for which you are registered for, we may send
communications to your wireless device regarding us or other parties that are pre-approved by the
user.</p>
        <h3>User Conduct</h3>
    You shall not post, upload, transmit or share any information or other content on the App that:
    <ul>
      <li>is false, inaccurate or misleading</li>
      <li>is obscene or indecent</li>
      <li>infringes any copyright, patent, trademark, trade secret or other proprietary rights or rights
      of publicity or privacy of any party</li>
      <li>is defamatory, libelous, threatening, abusive, hateful, or contains pornography</li>
      <li>contains unsolicited or unauthorized advertisements, solicitations, promotional materials,
      “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of solicitation</li>
      <li>contains any private information of any third party, including, addresses, phone numbers,
      email addresses, identification numbers and credit card numbers</li>
    </ul>

<p> You shall not interfere with other members’ use and enjoyment of the App (for example, by
harassing, threatening or stalking another participant of a chat room, forum, seminar, or threaded
message, including the use of expressions of bigotry, racism, hatred, or profanity). You may not use
the App to conduct any activity that is illegal or violates the rights of others, provide instructional
information about illegal activities, or promote physical harm or injury against any group or
individual.</p>
<p>You shall not use, frame or utilize framing techniques to enclose any trademark, logo or other
proprietary information (including the images found at this Site, the content of any text or the
layout/design of any page or form contained on a page) of Zelda without Zelda’s express written
consent in advance.</p>
<p>You shall not solicit personal information from anyone under the age of 18 or solicit passwords from
any member. You shall not use contact information provided by members, or collect email addresses
of other information about our members, to facilitate the sending of unsolicited bulk
communications such as SPAM or SPIM or allow others use of your membership account to take
such actions.</p>
<p>You may not use any robot, spider, scraper, automated scripts or other automated means to access
the App or content or services provided on the App for any purposes. You may not post content on
the App that contains any viruses, Trojan horses, worms, time bombs, spiders, or other computer
programming routines that are intended to damage, detrimentally interfere with, surreptitiously
intercept or expropriate any system, data or personal information. You shall not attempt to make
the App unavailable through denial-of- service attacks or similar means or use the App in a manner
that could damage, disable, or impair the App.</p>
<p>Zelda may remove any content that you upload or post at the App or disable your access to the App
at any time, for any or no reason, and without notice to you.</p>
        <h3>Membership Registration</h3>
<p>        If you register as a member of the App, you agree to provide accurate and complete information
about you as may be prompted by any registration forms on the App. To the extent such information
about you changes, you agree to promptly update such registration information with the App to
keep it accurate, current and complete. You shall not register for more than one User account or
impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or
your affiliation with any person or entity.</p>
<p>        You are responsible for maintaining the confidentiality of your member password and login, and are
fully responsible for all activities that occur under your password or account with or without your
knowledge. If you knowingly provide your login and password information to another person, your
membership privileges may be suspended temporarily or terminated. You agree to immediately
notify Zelda of any unauthorized use of your membership password or login.</p>
        <h3>Privacy</h3>
<p>        You agree that you have read, understood and accept the terms of Zelda’s Privacy Policy. This policy
governs the collection, use and sharing of personal and non-personal information from you when
using the App.</p>
        <h3>Your Linking to Site</h3>
<p>        You are granted a limited, non-exclusive right to create a hyperlink to this Site provided such link
does not portray Zelda or any of its products and services in a false, misleading, derogatory or
otherwise defamatory manner. You may not use any logo or other proprietary graphic or trademark
of Zelda to link to the introductory page of this Site without the express written permission of Zelda.
This limited right may be revoked at any time.</p>
        <h3>Links to Other Websites</h3>
<p>        Zelda may contain links to other websites that are not under the control of Zelda. The inclusion of
any link does not imply endorsement by Zelda of such site and Zelda is not responsible for the
content of such linked sites. If you decide to leave the App and access a third party website, you do
so at your own risk.</p>
        <h3>Membership Termination</h3>
<p>        You agree that Zelda may, with or without cause, immediately terminate your membership and
access to the App (including to User Content you may have posted) without prior notice. Without
limiting the foregoing, the following may lead to a termination by Zelda of a member’s membership
and use of the App:
  <ul>
    <li>abreaches or violations of these Terms of Use or other Zelda agreements or guidelines</li>
    <li>requests by law enforcement or other government agencies</li>
    <li>unexpected technical issues or problems</li>
    <li>extended periods of inactivity</li>
  </ul>
<p>Zelda has no obligation to maintain, store, or transfer to you information or data that you have
posted on or uploaded to the App.</p>
        <h3>Disclaimer of Warranties</h3>
<p>        The App and the content and services made available on the App are provided on an “as is” and “as
available” basis. Zelda does not make and disclaims all express and implied warranties and
representations, including, but not limited to, any implied warranty of fitness for a particular
purpose, with regard to the App, the App content, or any advice or services provided through the
App to the extent permitted by law. Zelda does not warrant that access to the App, your or other
members’ User Content, other Site content or services will be uninterrupted or error-free, that
defects in the App will be corrected, or that the App is free from viruses or other harmful
components.</p>
<p>The advice, recommendations, information, and conclusions posted or emailed by other members of
the App are not in any way vetted, approved or endorsed by Zelda, and you use such information at
your own risk.</p>
<p>You expressly agree that use of the app, including all content, data or software distributed by,
downloaded or accessed from or through this site, is at your sole risk.</p>
        <h3>Limitation of Liability</h3>
<p>        Under no circumstances shall Zelda, its partners, contributors, agents, employees, directors, or
affiliates be liable for any indirect, incidental, special, exemplary, punitive, or consequential damages
(even if it has been advised of the possibility of such damages), including but not limited to for lost
data, due to your use of this Site or due to your reliance on any of the content contained or the
services provided on or through the App.</p>
        <h3>Indemnification</h3>
<p>        You agree to indemnify and hold harmless Zelda, its officers, employees, agents, subsidiaries,
affiliates and other partners, from and against any claims, actions or demands, liabilities and
settlements including without limitation, reasonable legal and accounting fees, resulting from, or
alleged to result from your use of this Site or your violation of these Terms of Use.</p>
        <h3>Member Notices</h3>
<p>        If you register as a member, you agree that Zelda may send notices and solicitations to you, by email
at the email address you provide when registering to become a member (or which you later update
using the functionality of the App or the Website). This includes sending you advertisements – which
you can opt out of.</p>
        <h3>Comments and Suggestions</h3>
<p>        You acknowledge and agree that any answers, comments, suggestions, ideas, feedback or other
information about the App or the service provided on the App (“Comments”), provided by you to
Zelda are non-confidential and that Zelda shall be entitled to the unrestricted use and dissemination
of these Comments for any purpose, commercial or otherwise, without acknowledgment or
compensation to you.</p>
        <h3>Governing Law and Venue</h3>
<p>        These Terms of Service shall be governed by the laws South Africa. All disputes arising under, or in
any way connected with membership in or use of the App, shall be litigated exclusively in the courts
residing in South Africa and in no other court or jurisdiction.</p>
        <h3>Miscellaneous Terms</h3>
<p>        Zelda may assign this agreement at any time to a subsidiary or parent company or to a successor to
its business as part of a merger or sale of substantially all of its assets. You may not assign or transfer
this agreement.</p>

<p>If any provision of this Agreement is held to be unenforceable for any reason, the remaining
provisions will be unaffected and remain in full force and effect.
The failure of Zelda to exercise or enforce any right or provision of these Terms of Service shall not
constitute a waiver of such right or provision in any that or any instance.</p>
