<div class="card card-common">
  <div class="card-body">
    <div class="card-text">
      <p>Thank you for submitting your form, an email has been sent to your email address
        with a link so that you can check out any feedback that may have been given to you</p>
    </div>
  </div>
</div>
