<div class="card card-common">
  <div class="card-body">
    <h3 class = "card-title">Why must I sign in to Zelda Learning?</h3>
    <div class="card-text text-left">
      <p>Once your application is submitted we need a way in which to keep you informed about the status of your application. The <a href="app.zelda.org.za">Zelda Learning app</a>  will keep you up to date with the latest information about your application right on the home page. We will also correspond via email.
        Once you’ve signed up you can log into the Zelda mobile app or web app .
        You can also find bursaries, study opportunities, NBT practise tests or even learn about your personality!
      </p>
      <p>You can also find out more about other bursaries you might be interested in or
      take our personality quiz and find out about your career interests</p>
    </div>
  </div>
</div>

<div class="card card-common">
  <div class="card-body">
    <div class="card-text">
      <div class="row mx-2 mb-3">
        <label>Email address</label>
        <input type="text" name="email" [(ngModel)]="email" class="form-control">
      </div>
      <div class="row mx-2 mb-3">
        <label>Password</label>
        <input type="password" name="email" [(ngModel)]="password" class="form-control">
      </div>
      <div class="row mx-2 mb-3">
        <div class="col">
        </div>
        <div class="col">
          <p class="text-warning">By signing in you agree to out <a routerLink = "/terms_and_conditions">Terms and Conditions</a></p>
          <button *ngIf = '!signedIn' name="signin" class = "btn btn-primary text-light" (click) = "logIn()">Sign in</button>
        </div>
        <div class="col">
        </div>
      </div>
      <p *ngIf = "error" class="text-warning" >{{error}}</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="row-md-12">
      <div class="col-md-12">
        <div class="row">
          <div class="col">
            <a class="btn btn-primary text-light" [routerLink]="'/applications/' + id + '/apply/0'">Back</a>
          </div>

          <div *ngIf = "signedIn"  class="col">
            <a class= "btn btn-primary text-light" [routerLink] = "'/applications/' + id + '/apply/submit'">Submit</a>
          </div>

          <div class="col" *ngIf = "!signedIn">
            <p class="text-warning">You cannot continue without signing in</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
