<div class="chat_window" id="window">
    <ul class="messages">
      <li *ngFor = "let mess of def" class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
            <div class="text">{{mess}}</div>
        </div>
      </li>
    </ul>

    <div id ="response1" *ngIf = "stage == 1">
      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <div class="form-group">
            <button type="button" name="resp1" class="form-control" (click)="setStage(2)">I'M READY!</button>
          </div>
        </div>

        <div class="col">

        </div>
      </div>
    </div>

    <ul class="messages" *ngIf = "stage>=2">
      <li class = "message left appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">I'm ready</div>
        </div>
      </li>
      <li class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">Do you know which fields you might like to work in? </div>
        </div>
      </li>
    </ul>

    <div id = "resp2" *ngIf = "stage == 2" class = "card card-body">
      <h2 class = "card-title">Check the ones that apply...</h2>

      <div class="row">
        <div *ngFor="let field of fields" class="col-xl-4 col-md-4 col-sm-6">
          <div class="form-group">
            <input type="checkbox" [name]="field" value="field" [checked]="contains(field)" (change)="checkEvent(field)">
            <label>{{field}}</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">

        </div>
        <div class="col">
          <div class="form-group">
            <button type="button" name="submit2" class="form-control" (click)="setStage(3)">Submit</button>
          </div>
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <ul class="messages" *ngIf = "stage>=3">
      <li class = "message left appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text" *ngIf = "numint>0">The fields I would like to know more about are : {{profile.getInterests()}}</div>
          <div class="text" *ngIf = "numint == 0">
            I do not know which fields I am interested in
          </div>
        </div>
      </li>
      <li class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">Please create a username so that we know what to call you.</div>
        </div>
      </li>
    </ul>


    <div class="row" *ngIf = "stage == 3" >
      <div class="col">

      </div>
      <div class="col">
        <form class="form-inline">
          <div class="form-group mb-2">
            <input type="text" name="username" placeholder="Jane Doe" class="form-control" [(ngModel)] = "profile.userState.username">
            <button type="button" name="subm4" class = "form-control" (click) = "setStage(4)">Submit</button>
          </div>
        </form>
      </div>
      <div class="col">

      </div>
    </div>

    <ul class="messages" *ngIf = "stage >= 4">
      <li class = "message left appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">You can call me {{profile.userState.username}}</div>
        </div>
      </li>
      <li class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">Thank you {{profile.userState.username}}. You can visit the profile page at any time if you wish to change these answers.</div>
        </div>
      </li>
      <li class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">Would you like us to apply to bursaries for you when you are eligible?
            This means you only need to fill out one application  (By clicking yes you agree to our <a routerLink="terms_and_conditions">terms and conditions</a>) </div>
        </div>
      </li>
    </ul>

    <div class="row" *ngIf = "stage == 4">
      <div class="col">

      </div>
      <div class="col">
        <div class="form-group">
          <button type="button" name="yea" class="form-control" (click)="optIn(); setStage(5)">Yes</button>
          <button type="button" name="maybe" class = "form-control" (click)="more = true; setStage(4.5)">Tell me more</button>
        </div>
      </div>
      <div class="col">

      </div>
    </div>

    <ul class = "messages" *ngIf="more">
      <li class = "message left appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">Tell me more</div>
        </div>
      </li>
      <li class = "message right appeared">
        <div class="avatar">
        </div>
        <div class="text_wrapper">
          <div class="text">
            We want to make the bursary application process as easy as possible.

            Filling in your details here means that we can take the admin off your hands.

            Don't worry your data is safe with us, we will tell you as soon as you have been applied to a bursary, and you can opt out at any time. </div>
        </div>
      </li>
    </ul>
  <div class="row" *ngIf = "stage == 4.5">
    <div class="col">

    </div>
    <div class="col">
      <div class="form-group">
        <button type="button" name="yea" class="form-control" (click)="optIn(); setStage(5)">Yes</button>
        <button type="button" name="nay" class = "form-control" (click)="setStage(5)">Skip</button>
      </div>
    </div>
    <div class="col">

    </div>
  </div>

  <ul class="messages" *ngIf = "stage >= 5">
    <li class = "message right appeared">
      <div class="avatar">
      </div>
      <div class="text_wrapper">
        <div class="text">You can now fill in your profile. These are the details that will be filled in on your applications</div>
      </div>
    </li>
  </ul>

  <div class="row" *ngIf = "stage == 5">
    <div class="col">

    </div>
    <div class="col">
      <div class="form-group">
        <button type="button" name="prof" class="form-control" routerLink ="/profile">Go to profile</button>
        <button type="button" name="home" class="form-control" routerLink="/home">Skip and go home</button>
      </div>
    </div>
    <div class="col">

    </div>
  </div>

</div>
