<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a [class]="getClass('')" routerLink = '/profile'>Profile</a>
      </li>
      <li class = "nav-item">
        <a [class]="getClass('personalInfo')" routerLink = '/profile/personalInfo'>
          Personal Information</a>
      </li>
      <li class = "nav-item">
        <a [class]="getClass('schoolInfo')" routerLink = '/profile/schoolInfo'>
          School Information</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch] = "url">
    <app-opt-in-card *ngIf = '!profile.userState.optIn'></app-opt-in-card>
    <div *ngSwitchCase= "''">
      <app-profile-activities></app-profile-activities>
    </div>
    <div *ngSwitchCase = "'personalInfo'">
      <app-profile-personal-info></app-profile-personal-info>
    </div>
    <div *ngSwitchCase = "'schoolInfo'">
      <app-profile-school-info></app-profile-school-info>
    </div>
  </div>
</div>

<div class="row p-3 ">
    <div class="col pb-2 text-center">
      <button type="button" name="update" class = "btn btn-primary ml-2 mb-2 float-right" id="updateBtn" (click)="update()">
        <i class="fa fa-upload fa-lg mr-1"></i>Save</button>
    </div>
</div>
