#cont{
  height: 200px;
  width : 650px;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  white-space: nowrap;
}
.card{
  display: inline-block;
  height: 200px;
  width: 340px;
  margin-left: 3px;
  overflow: hidden;
}
