<h2>{{company.title}}</h2>
<h3>{{company.blurb}}</h3>
<img [src]="pic" alt="Picture">
<span [innerHTML] = "company.text"></span>
<p> <a [href]="company.link" target="_blank">Visit {{company.title}} </a> </p>
