<h3>Engineering</h3>

<p>Matching with Engineering suggests that you like to solve problems and enjoy a challenge.
Perhaps your perspective on the world is one of wanting to make a difference and helping
 people improve their lives. Being inventive and curious is an important skill.
Being good at Maths and Science isn’t necessarily what it takes to be good at Engineering,
hard work and commitment to technical courses will get you through.</p>

<p>Engineering includes a wide range of careers you might not have considered!
  These include architects, planners, quantity surveyors, property valuers and
  professional engineers in a variety of areas, whether electrical, chemical,
  mechanical, electro-mechanical, civil, computer engineering or mechatronics.
  You can use Zelda to find out more about The Faculty of Engineering & the
  Built Environment (EBE) at different universities.</p>
