<div class="row" *ngIf= "bursaries.length>0">
  <div class="col-xl-12 p-3">
    <div class="card card-common">
      <div class="card-body">
        <i class = "fa fa-star float-right hand fa-2x mr-2" style = "color:yellow" ></i>
        <h2 class="card-title">Favourite Bursaries</h2>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Bursary Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor= "let fav of bursaries" class="table-striped">
                <td (click) = "clickFav(fav)"> <img [src]="fav.image" alt=""> </td>
                <td (click) = "clickFav(fav)">{{fav.title.substr(0,100)}}<span *ngIf = "fav.title.length>100">...</span></td>
                <td (click) = "clickFav(fav)">{{fav.subtitle.substr(0,100)}}<span *ngIf = "fav.subtitle.length>100">...</span></td>
                <td (click) = "clickFav(fav)">{{fav.closingDate.toDate() | date : "dd/MM/yyyy"}}</td>
                <td >
                  <i class="fa fa-star big" (click) = "remove(fav.id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf = "bursaries.length==0">
  <div class="col-xl-12 p-3">
    <div class="card card-common">
      <div class="card-body">
        <h2 class = "card-title">Favourite Bursaries</h2>
        <div class="card-text">
          <p>You can add favourite buraries by clicking the star on a bursary in the bursaries page. They will then appear here</p>
        </div>
      </div>
    </div>

  </div>
</div>
