<div class="card card-common card-body">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group image-upload">
          <img [src]="profile.pic" alt="userPicture" class="resize" alt="userPicture" style="cursor:pointer" >
      </div>
    </div>

    <div class="col-md-8 mb-2">
      <div class="form-group">
        <h1 class="text-center mb-3 mt-2 well pt-3">{{profile.userPersonal.firstName}} {{profile.userPersonal.lastName}}</h1>
        <p class="text-muted text-center mb-3 mt-2 well">Your profile information will be used to complete your applications</p>
      </div>
      <div *ngIf="emailEnabled" class="card card-body mt-2">
        <p>You are currently logged in as : </p>
        <div class="row form-inline form-group">
          <div class="col-8">
            <input type="text" [attr.disabled] = 'changingEmail?  null:""' [(ngModel)]="email">
          </div>
          <button *ngIf = "!changingEmail" class="btn btn-primary ml-2" (click)="changingEmail = true" >Change email</button>
          <button *ngIf = "changingEmail" class="btn btn-primary ml-2" (click)= "changeEmail()" >Submit new email</button>
        </div>
        <p class="text-warning" *ngIf="error">{{error}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!verified" class="card card-body">
    <p class="text-warning text-center">You have not yet verified your email address</p>
    <button *ngIf="!emailSent" class="btn btn-primary mb-2" (click)="verifyEmail()">Resend verification email</button>
    <p *ngIf = "emailSent" class="text-center">Please refresh this page once you have verified your email</p>
  </div>

  <div class="card-body">
    <h3 class="text-left mb-3 mt-2 well">What fields are you interested in?</h3>
    <p class="text-warning " *ngIf="getNumKeys()">Select at least 2</p>

    <div class="row">
      <div *ngFor="let field of fields" class="col-xl-4 col-md-4 col-sm-6">
          <div class="form-group -align-left">
              <label class="float-left">
              <input type="checkbox" [name]="field" value="field" [checked]="contains(field)" (change)="checkEvent(field)">
              {{field}}</label>
          </div>
      </div>
    </div>
  </div>

</div>
