/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '~font-awesome/css/font-awesome.min.css';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1!important;
}

.card-common .card-footer{
  background-color: #ebf6f8;
}

.card-common{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 768px) {
  //
}

@media only screen and (max-width: 400px) {
  //
}

.btn-primary{
  background-color: #168582 !important;
  color: #ffffff !important;
}
