<!-- Page Content -->
<div class="container">
  <div class="card card-common mb-3">
    <div class="card-body">
      <div class="row">

          <div class="col-lg-2"></div>
          <!-- Post Content Column -->
          <div class="col-lg-8">

              <!-- Title -->
              <h1 class="mt-4">{{article.title}}</h1>

              <hr>

              <!-- Date/Time -->
              <h4 class="text-muted">{{article.subtitle}}</h4>

              <hr>

              <!-- Preview Image -->
              <img [src]="pic" alt="Picture" class="img-fluid rounded" alt="">

              <hr>


              <p [innerHTML]="article.text"></p>


              <hr>


          </div>
          <div class="col-lg-2"></div>

      </div>
    </div>
  </div>
</div>
