<div id="action">
  <app-user-progress></app-user-progress>
  <div *ngIf="!optIn"><app-opt-in-card></app-opt-in-card></div>
  <app-application-item *ngFor = "let item of callsToAction" [item]="item"></app-application-item>
<!--  <app-school-card></app-school-card> -->
</div>

<div id = "apps" class="row-md-12">
  <app-user-applications></app-user-applications>
</div>

<div id = "intorQuiz">
  <div class="row-md-12">
    <app-intro-quiz-card></app-intro-quiz-card>
  </div>
</div>

<div id = "bursTable">
  <div class="row-md-12">
    <app-bursary-table></app-bursary-table>
  </div>
  <div class="row-md-12">
    <app-bursary-recommended-table></app-bursary-recommended-table>
  </div>
</div>
