<div class="row-md-12" *ngIf = "stage == -1">
  <div class="col-xl-12">
    <div class="card card-common mt-3">
      <div class="card-body">
        <h2 class = "card-title">Introduction quiz</h2>
        <p>Our personality quiz is a short 15 questions. Taking this quiz will help us to recommend bursaries and fields of study for you.</p>
      </div>
      <div class="card-footer">
        <button name="start" class="btn btn-primary" (click) = "setStage(0)">Start</button>
      </div>
    </div>
  </div>
</div>

<div class="row-md-12" *ngIf="stage>-1 && !(stage>=15)">
  <div class="col-xl-12">
    <div class="card card-common mt-3">
      <div class="card-body">
        <h4 class="card-title">Question {{stage+1}} of {{questions.length}}</h4>
        <h5 class="text-center"> {{questions[stage].text}}</h5>
      </div>
      <div class="card-footer">
        <div class="row-md-12">
          <div class="col-lg-12">
            <div class="row text-center">
              <div class="col">
                <button name="No" class="btn btn-primary center-block btn-xs mr-2" (click) = "answer(stage,1)" >No</button>
              </div>
              <div class="col">
                <button name="Meeh" class="btn btn-primary center-block btn-xs mr-2" (click) = "answer(stage,3)">Maybe</button>
              </div>
              <div class="col">
                <button name="Yes" class="btn btn-primary center-block btn-xs mr-2" (click) = "answer(stage,5)">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf = "stage == 15">
  <div class="card card-common mt-2">
    <div class="card-body">
      <h2 class="card-title">Please wait for your results</h2>
      <chart [type]="type" [data]="data" [options]="options"></chart>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <button *ngIf = "stage>-1" name="back" class= "btn btn-primary mr-2 mt-3" (click) = "setStage(this.stage-1)">Back</button>
  </div>
</div>
