<div class="card text-center">
  <app-application-submit-fragment *ngFor = "let sec of navItems" [userFormId] = "userFormId" [section] = 'sec'></app-application-submit-fragment>
  <div class="card-footer">
    <div class="row-md-12">
      <div class="col-md-12">
        <div class="row">
          <p class="text-warning" >Once you have sumbitted your form you may not change any of your answers</p>
          <div *ngIf = "sections!=0" class="col">
            <a class="btn btn-primary text-light" [routerLink] = "'/applications/'+id +'/apply'" >Back to form</a>
          </div>
          <div class="col">
            <a class= "btn btn-primary text-light" (click) = "submit()">Submit</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
